# Xcode
.DS_Store
build/
*.pbxuser
!HTTPCake.pbxuser
*.mode1v3
!HTTPCake.mode1v3
*.mode2v3
!HTTPCake.mode2v3
*.perspectivev3
!HTTPCake.perspectivev3
*.xcworkspace
!HTTPCake.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
